[project]
	description = my first repository :)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/chitra balasubramanian (strawbeerry)
[access "refs/for/refs/*"]
	read = group user/chitra balasubramanian (strawbeerry)
	push = group user/chitra balasubramanian (strawbeerry)
	label-Code-Review = -2..+2 group user/chitra balasubramanian (strawbeerry)
	label-Verified = -1..+1 group user/chitra balasubramanian (strawbeerry)
	rebase = group user/chitra balasubramanian (strawbeerry)
	removeReviewer = group user/chitra balasubramanian (strawbeerry)
	submit = group user/chitra balasubramanian (strawbeerry)
[access "refs/heads/*"]
	read = group user/chitra balasubramanian (strawbeerry)
	create = group user/chitra balasubramanian (strawbeerry)
	push = +force group user/chitra balasubramanian (strawbeerry)
	pushMerge = group user/chitra balasubramanian (strawbeerry)
[access "refs/tags/*"]
	push = group user/chitra balasubramanian (strawbeerry)
	push = +force group user/chitra balasubramanian (strawbeerry)
